@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Hizmetlerimiz";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if(Model.Count > 0)
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="text-left col-md-10">
                    <h1>Hizmetlerimiz</h1>
                </div>
                <div class="text-right col-md-2">
                    <a asp-controller="Service" asp-action="Add" asp-area="Admin" class="btn btn-success text-left text-white">Hizmet Ekle</a>
                </div>
            </div>


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>İkon</th>
                        <th>Title</th>
                        <th>Açıklama</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Değiştirilme Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Değiştiren</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model)
                    {
                        <tr>
                            <td>@service.ServiceIcon</td>
                            <td>@service.Title</td>
                            <td>@(service.Description?.Length > 0 ? $"{service.Description.Substring(0, 3)}..." : "Açıklama Yok")</td>
                            <td>@service.CreatedDate.ToShortDateString()</td>
                            <td>@service.ModifiedDate.ToShortDateString()</td>
                            <td>@service.CreatedByName</td>
                            <td>@service.ModifiedByName</td>
                            <td>
                                <a asp-controller="Service" asp-action="Delete" asp-area="Admin" asp-route-serviceId="@service.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a>
                                <a asp-controller="Service" asp-action="Update" asp-area="Admin" asp-route-serviceId="@service.Id" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a>
                                <a href="#" class="btn mb-1 btn-rounded btn-outline-info">Detaylar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Henüz hizmet eklenilmemiş!</h4>
        <div class="card-content">
            <div class="alert alert-danger">
                <h4 class="alert-heading">Hizmetler Bulunamadı!</h4>
                <p>
                    Henüz hizmet eklenilmemiş. Lütfen bir hizmet <a asp-asp-controller="Service" asp-action="Add" asp-area="Admin" class="text text-info">ekleyiniz.</a>
                </p>
            </div>
        </div>
    </div>
</div>
}

